---
import PageLayout from "../layout/PageLayout.astro";
---

<PageLayout title="About">
  <section
    class="min-h-[120vh] bg-black flex justify-center flex-col items-center bg-bottom text-white"
  >
    <div class="max-w-4xl text-center mt-24">
      <h1 class="heading1">Being competitive <br />white having fun</h1>
    </div>
  </section>
</PageLayout>
