---
import PageLayout from "../layout/PageLayout.astro";
---

<PageLayout title="About">
  <section
    class="min-h-[120vh] bg-gray-700 bg-blend-soft-light flex justify-center flex-col items-center bg-[url(../assets/images/home.webp)] bg-bottom text-white"
  >
    <div class="max-w-4xl text-center mt-24">
      <h1 class="heading1">the best stories deserve to be told</h1>
    </div>

    <div class="flex justify-between w-full max-w-7xl mt-10">
      <div class="flex justify-cente flex-col items-center">
        <h6 class="heading6 text-gray">Twice Agency</h6>
        <h5 class="heading5">Chasing the elements</h5>
      </div>
      <div class="flex justify-cente flex-col items-center">
        <h6 class="heading6 text-gray">Since 2022</h6>
        <h5 class="heading5">Working globally</h5>
      </div>
    </div>
  </section>
  <section class="bg-black min-h-screen">
    <div></div>
  </section>
</PageLayout>
