---
import PageLayout from "../layout/PageLayout.astro";
---

<PageLayout title="Contact">
  <section
    class="min-h-screen bg-black flex justify-center flex-col items-center bg-bottom text-white"
  >
    <div class="max-w-5xl text-center mt-30">
      <h1 class="bigHeading">get in touch</h1>
    </div>
  </section>
</PageLayout>
