---
import PageLayout from "../layout/PageLayout.astro";
---

<PageLayout title="Work">
  <section
    class="min-h-[90vh] bg-black flex justify-center flex-col items-center bg-bottom text-white"
  >
    <div class="max-w-5xl text-center mt-30">
      <h1 class="bigHeading">sports <br /> Driven Production</h1>
    </div>
  </section>
  <section class="bg-black min-h-screen">
    <div class="grid grid-cols-3 grid-rows-3 max-w-8xl gap-20 w-full">
      <div class="bg-amber-300 w-full h-50"></div>
      <div class="bg-amber-300 w-full h-50"></div>
      <div class="bg-amber-300 w-full h-50"></div>
      <div class="bg-amber-300 w-full h-50"></div>
      <div class="bg-amber-300 w-full h-50"></div>
      <div class="bg-amber-300 w-full h-50"></div>
      <div class="bg-amber-300 w-full h-50"></div>
    </div>
  </section>
</PageLayout>
