---

---

<section class="h-100 bg-black">
  <div
    class="flex justify-between items-center max-w-8xl border-y py-10 border-gray-500"
  >
    <div class="text-gray4">
      <h4 class="font-NH text-3xl">You only live once, so think</h4>
      <h1
        class="bigHeading relative after:content-['®'] after:text-xl after:top-0 after:absolute right-0"
      >
        twice
      </h1>
    </div>
    <div
      class="max-w-[40%] w-full flex flex-col justify-start items-start gap-5"
    >
      <p class="text-gray4 max-w-xs">
        We are a marketing agency and audiovisual production company dedicated
        to offering all-encompassing services to help you stand out in the
        digital world.
      </p>
      <div
        class="w-fit
        link
        relative
        h-10
        bg-gray
        border-white
        flex
        items-center
        justify-between
        p-0.5
        overflow-hidden"
      >
        <div class="w-10 h-full bg-black relative">
          <span
            class="text-amber-300 text-5xl absolute border border-white -translate-1/2 left-1/2 top-1/2 leading-none"
          >
          </span>
        </div>
        <div
          class="items-center mx-4 uppercase text-xl tracking-wide flex justify-center"
        >
          <a href="/services" class="btn relative inline-block overflow-hidden">
            <span class="original block">contact us</span>
            <span class="duplicate absolute top-full left-0 block text-black">
              contact us
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
