---

---

<section
  class="invisible loadingContainer fixed z-3 inset-0 w-full h-full flex pointer-events-none select-none overflow-hidden"
>
  <div class="loading-screen bg-black flex-1 border"></div>
  <div class="loading-screen bg-black flex-1"></div>
  <div class="loading-screen bg-black flex-1"></div>
  <div class="loading-screen bg-black flex-1"></div>

  <h2
    class="title w-44 h-24 fixed -translate-1/2 left-1/2 top-1/2 heading2 overflow-hidden"
  >
    <div class="line relative h-full overflow-hidden">
      <span
        class="text-top absolute left-0 top-0 overflow-hidden z-1 text-white"
        >twice</span
      >
      <span class="text-bottom absolute left-0 top-0 z-0 text-gray2">twice</span
      >
    </div>
  </h2>
</section>
