---

---

<section
  class="transitionContainer fixed z-3 inset-0 w-full h-full flex pointer-events-none select-none overflow-hidden"
>
  <div class="transition-screen flex-1 bg-gray-800"></div>
  <div class="transition-screen flex-1 bg-gray-800"></div>
  <div class="transition-screen flex-1 bg-gray-800"></div>
  <div class="transition-screen flex-1 bg-gray-800"></div>
</section>
